# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
IA-Practica-1-Gasolina/.idea/**/workspace.xml
IA-Practica-1-Gasolina/.idea/**/tasks.xml
IA-Practica-1-Gasolina/.idea/dictionaries
#IA-Practica-1-Gasolina/.idea/misc.xml
#IA-Practica-1-Gasolina/.idea/workspace.xml

# Sensitive or high-churn files:
IA-Practica-1-Gasolina/.idea/**/dataSources/
IA-Practica-1-Gasolina/.idea/**/dataSources.ids
IA-Practica-1-Gasolina/.idea/**/dataSources.xml
IA-Practica-1-Gasolina/.idea/**/dataSources.local.xml
IA-Practica-1-Gasolina/.idea/**/sqlDataSources.xml
IA-Practica-1-Gasolina/.idea/**/dynamic.xml
IA-Practica-1-Gasolina/.idea/**/uiDesigner.xml

# Gradle:
IA-Practica-1-Gasolina/.idea/**/gradle.xml
IA-Practica-1-Gasolina/.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
IA-Practica-1-Gasolina/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
IA-Practica-1-Gasolina/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
IA-Practica-1-Gasolina/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Mac OS .DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
